pkgbase = libinput-extended-taps
	pkgdesc = Input device library (Patched for 4-finger taps and forced 1-finger drag)
	pkgver = 1.31.3
	pkgrel = 1
	url = https://github.com/Mrcavas/libinput-extended-taps
	arch = x86_64
	license = MIT
	makedepends = cairo
	makedepends = check
	makedepends = git
	makedepends = glib2
	makedepends = gtk4
	makedepends = libx11
	makedepends = meson
	makedepends = python
	makedepends = python-libevdev
	makedepends = python-pyudev
	makedepends = python-yaml
	makedepends = wayland
	makedepends = wayland-protocols
	depends = glibc
	depends = libevdev
	depends = libgcc
	depends = libwacom
	depends = lua54
	depends = mtdev
	depends = systemd-libs
	source = git+https://gitlab.freedesktop.org/libinput/libinput.git#tag=1.31.3
	source = extended-taps.patch
	sha256sums = 8d804940190cb0c52fe33c06fb5f3e6c38d789a1429d5f9a1deae175e2ae18d4
	sha256sums = 8006a876a12ed0ae0bf9033d13fb9a2c9628a506a5c1cf6d285c91599dfc9d8a

pkgname = libinput-extended-taps
	optdepends = libinput-tools: debug utilities
	provides = libinput
	provides = libinput.so
	conflicts = libinput

pkgname = libinput-extended-taps-tools
	pkgdesc = Input device library (Patched for 4-finger taps and forced 1-finger drag) (debug utilities)
	depends = cairo
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = libevdev
	depends = libgcc
	depends = libinput
	depends = libx11
	depends = python
	depends = python-libevdev
	depends = python-pyudev
	depends = python-yaml
	depends = systemd-libs
	depends = wayland
	provides = libinput-tools
	conflicts = libinput-tools
